<%= form_with model: @task, url: tasks_path, method: :post do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.check_box :completed %>
    <%= form.label :completed, "Completed" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Task" %>
  </div>
<% end %>
